// Insert your styling here.

// Breadcrumbs
// -------------------------
.uw-breadcrumbs span {
    padding-top: 0;
}
// Page header
// -------------------------
.page-header {
    margin: 29px 0 14.5px;
}

// Sidebar
// -------------------------
.uw-sidebar .region:not(:last-child) {
    padding-bottom: 30px;
}

// form elements
// -------------------------
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}