// Insert your styling here.
// Site title
// -------------------------
.uw-body {
    .uw-site-title {
        +p {
            position: absolute;
            top: -60px;
            color: #fff;
            line-height: 1.55;
            -webkit-font-smoothing: auto;
            margin-bottom: 30px;
            text-shadow: 1px 1px 5px rgba(0,0,0,.8);
        }
    }
}
@media only screen and (max-width: 767px) {
    .uw-body {
        .uw-site-title {
            padding-right: 75px;
        }
    }
    div.container.uw-body {
        padding-top: 20px;
    }
}
// some exceptions for site-title and site-slogan 
.front {
    .uw-body {
        .uw-site-title {
            +p {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .uw-body {
        .uw-site-title {
            +p {
                display: none;
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .front {
        .uw-body {
            >.row {
                margin-top: -30px;
                background-color: #fff;
            }
            .uw-site-title {
                display: none;
            }
        }
    }
}

// Breadcrumbs
// -------------------------
.uw-breadcrumbs {
    span {
        padding-top: 0;
    }
}
// Page header
// -------------------------
.page-header {
    margin: 29px 0 14.5px;
    border-bottom: 0;
}

// Sidebar
// -------------------------
.uw-sidebar {
    .region:not(:last-child) {
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 992px) {
    .uw-sidebar { 
        .region {
            padding-top: 30px;
        }
    }
}

// Mobile menu
// -------------------------
nav#mobile-relative {
    // hide the submenu dropdowns on the rendering of $primary_nav 
    .navbar-nav {
        .dawgdrops-menu {
            display: none;
            
            position: relative;
            -webkit-box-shadow: none;
            box-shadow: none;
            top: 0;
            border-top: none;
            li {
                background-color: inherit;
                a {
                    background-color: inherit;
                    color: #5a5a5a;
                    border-left: none;
                    padding-left: 35px;
                    padding-top: 10;
                    padding-bottom:10;
                }  
            }
        }
        .dawgdrops-item {
            a {
                font-weight: 400;
                text-transform: none;
                &:after {
                    background: none;
                }
            }
            .dawgdrops-item-menu-link {
                display: block;
                float: right;
                z-index: 1;
                font-family: "Encode Sans Compressed", sans-serif;
                font-size: 60%;
                cursor: pointer;
                text-transform: uppercase;
                background: url(assets/svg/caret.svg) no-repeat 33px 35px;
                &:before {
                  display: inline-block;
                  content: "";
                  position: absolute;
                  right: 50px;
                  top: 12px;
                  width: 20px;
                  height: 30px;
                  background: url(assets/svg/uw-sprite.svg) no-repeat -600px 0 transparent;
                }
            }
            a.dawgdrops-item-menu-link {
            }
        }
    }

}

// frontpage mobile-menu nav container
.front {
    nav#mobile-relative {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.not-front {
    nav#mobile-relative {
        .navbar-nav {
            width: inherit;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav#mobile-relative {
        button.uw-mobile-menu-toggle {
            margin-top: -55px;
            margin-right: 0;
        }
    }
}

// Content
// -------------------------
// path fix from uw.body-content.less
a.more {
    &:after {
        background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
    }
}
// path fix from uw.body-content.less
span.next-page {
    a {
        &:after {
            background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
      }
    }
}
// path fix from uw.body-content.less
.links {
    a {
        &:after {
            background: url(assets/svg/uw-sprite.svg) no-repeat -206px -492px;
        }
    }
}

// form elements
// -------------------------
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}
.checkbox input, 
.radio input {
    opacity: 1;
}
.form-text,
.form-textarea,
.form-select,
.form-file {
    border-radius: 0;
    color: #595959;
}
.form-submit {
    border-radius: 0;
}
