// Insert your styling here.

// Search form in region search
// -------------------------
.uw-search-bar-container {
    form {
        overflow: hidden;
    }
    .uw-search-wrapper {        
        .block-search {            
            .form-control {
                border-radius: 0;
                z-index: 0;
            }
        }        
        .btn.search {
            border-radius: 0;
        }
    }  
    // copy of input.search from uw.search.less, Ln 132
    button.search
      {
        border: none;
        font-size: 0px;
        float:left;
        display:block;
        height: 54px;
        outline: 2px solid #808080;
        background: url(assets/svg/search.svg) no-repeat center center gray;
        position: relative;
        -webkit-background-size: 22px;
        -moz-background-size: 22px;
        -o-background-size: 22px;
        background-size: 22px;
        padding: 0px 60px 0px 0px;
      }
}

@media only screen and (max-width: 767px) {
    .uw-search-bar-container {
        .uw-search-wrapper {
            .search {
                position: relative;
            }
        }
    }
}

// main-menu in region navigation
// -------------------------
.dawgdrops-menu {
    left: inherit;
    top: 78px;
}
